body {
  font-family: sans-serif;
  line-height: 1.5;
}
textarea {
  width: 400px;
}
input,
textarea {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

textarea {
  resize: vertical;
}
